/* Estilos para o footer */
.containerfooter{
   margin-top: 10px;
    background: linear-gradient(to bottom, #aeb6e6, #a0ade5, #91a3e5, #809be4, #6d92e3);
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

footer h6 {
    color: var(--white);
    font-weight: bold;
}
