/* Fonte para o corpo do documento */
body {
    font-family: 'Lexend Deca', sans-serif;
}

/* Cores personalizadas */
:root {
    --primary-color: #6d92e3;
    --dark-primary-color: #617add;
    --light-bg-color: #f0f6fc;
    --hover-color: #b9cdf0;
    --white: #ffffff;
    --black: #4d4e4f;
}

/* Estilo para o cabeçalho da tabela (título) */
h3 {
    margin-bottom: 10px;
    margin-top: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    color: var(--primary-color);
}

/* Estilo para botões "Criar" e "Editar" */
#createBtn, #editBtn {
    margin-bottom: 10px;
    margin-top: 50px;
    vertical-align: middle;
    background-color: var(--primary-color);
    color: var(--white);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
}

#createBtn:hover, #editBtn:hover {
    background-color: var(--dark-primary-color);
}

/* Estilo para botões "Guardar" e "Cancelar" */
#saveBtn, #cancelBtn {
    background-color: var(--white);
    display: flex;
    margin-right: 10px;
    color: var(--black);
}

/* Estilo para a tabela */
.table {
    border-spacing: 0;
    width: 100%;
}

.table tbody tr:nth-child(odd) {
    background-color: var(--light-bg-color);
}

.table tbody tr:nth-child(even) {
    background-color: var(--white);
}

.table th, .table td {
    padding: 8px;
    text-align: left;
}

/* Cor de fundo ao passar o mouse sobre uma linha da tabela */
.table-bordered tbody tr:hover {
    background-color: var(--hover-color);
}

/* Estilo para o botão "Apagar" */
.btn-delete {
    background: none;
    border: none;
    color: var(--blue);
    font-size: 20px;
    cursor: pointer;
}

.btn-delete:hover {
    color: var(--dark-primary-color);
}

/* Remover bordas das colunas da tabela */
.table.table-bordered thead th,
.table.table-bordered tbody td {
    border: none;
}

/* Estilo para o formulário */
.col-md-4 {
    margin-top: 50px;
    background-image: linear-gradient(to top, #aeb6e6, #a0ade5, #91a3e5, #809be4, #6d92e3);
    border-radius: 10px;
    color: var(--white);
    height: 600px;
}

/* Esconder a coluna de ID na tabela */
table th:nth-child(1),
table td:nth-child(1) {
    display: none;
}
