:root {
    --gradient-top: #6d92e3;
    --gradient-bottom: #a7d3e8;
    --white: #ffffff;
    --white-dark: #dfe3e5;
    --black: #4d4e4f;
    --black-dark: #36353d;
    --blue: #6d92e3;
    --blue-dark: #617add;
    --table: #f0f6fc;
    --table-hover: #b9cdf0;
}

.body {
    width: 100vw;
}

/* Misc */


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    background: var(--gradient-bottom);
    border-radius: 10px;
    border: 2px solid;
    border-color: var(--white);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gradient-top);
}

.spacing {
    margin-top: 6vh;
}


.title,
.title-m {
    color: var(--blue);
}

.line-break {
    border-left: 1px solid;
    border-color: var(--blue);
    height: 85%;
    padding-left: 30px;
}

input[type="checkbox"]:checked {
    background: var(--blue);
}

/* Buttons */

.button-container {
    display: flex;
}

.btn-blue {
    background-color: var(--blue);
    color: var(--white);
}

.btn-blue:hover {
    background-color: var(--blue-dark);
    color: var(--white);
}

.btn-trash {
    background-color: transparent;
    color: var(--black);
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-self: center;
    padding-left: 40%;
}

.btn-trash:hover {
    color: var(--white);
}

.save-btn,
.cancel-btn {
    margin-right: 10px;
}

.save-btn {
    background-color: var(--white);
    color: var(--black);
}

.save-btn:hover {
    background-color: var(--white-dark);
}

.cancel-btn {
    background-color: var(--black);
    color: var(--white);
}

.cancel-btn:hover {
    background-color: var(--black-dark);
    color: var(--white);
}

.delete-btn {
    display: flex;
    justify-content: start;
    padding-left: 6%;
}

.edit-professor {
    margin-left: 6%;
}

/* Table */

.table-container {
    max-height: 65vh;
    overflow-y: auto;
}

.table-container table {
    width: 100%;
    table-layout: auto;
}

.table-container thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

tbody tr:hover {
    background-color: var(--table-hover);
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: var(--table);
}

tbody tr:nth-child(even):hover {
    background-color: var(--table-hover);
    cursor: pointer;
}

thead {
    border-bottom: solid #6d92e3 2px;
}

/* Form */

.atec-form {
    background-image: linear-gradient(to top, #a7d3e8, #8ec5e8, #7ab5e8, #6ea4e7, #6d92e3);
    padding: 5%;
    border-radius: 10px;
    color: var(--white);
    min-height: calc(65vh + 42px);
}

.password-form {
    background-image: linear-gradient(to top, #a7d3e8, #8ec5e8, #7ab5e8, #6ea4e7, #6d92e3);
    padding: 5%;
    border-radius: 10px;
    color: var(--white);
    min-height: 65vh;

}

.form-control::placeholder {
    color: var(--white);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid;
    border-color: var(--white);
    border-radius: 0%;
    color: var(--white);
    background: transparent;
}

input[type=text]:focus {
    outline: none;
    background: transparent;
    border-bottom: 2px solid;
    border-radius: 0%;
    color: var(--white);
    box-shadow: none;
}

input[type="text"][disabled] {
    background-color: transparent;
    border-radius: 0%;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid;
    border-color: var(--white);
    border-radius: 0%;
    color: var(--white);
    background: transparent;
}

input[type=password]:focus {
    outline: none;
    background: transparent;
    border-bottom: 2px solid;
    border-radius: 0%;
    color: var(--white);
    box-shadow: none;
}

input[type="password"][disabled] {
    background-color: transparent;
    border-radius: 0%;
}


.text-error {
    color: var(--black);
}

/* Search  */

.search-container {
    width: 100%;
    padding-right: 0px;
    padding-left: 1vw;
    margin-right: auto;
    margin-left: auto;
}

.users-search {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    width: 98vw;
}

/* Login */

.bg-atec {
    position: fixed;
    height: 120vh;
    overflow-y: hidden;
    right: 25%;
}

.login-form img {
    max-width: 200px;
    height: auto;
}

.login-container {
    height: 100vh;
    width: 95vw;
    overflow: hidden;
}

.login-form {
    padding-top: 30vh;
    padding-left: 12%;
}

.login-container input {
    padding: 0%;
    width: 200px;
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid;
    border-color: var(--blue-dark);
    color: var(--black);
}

.login-container input:focus {
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid;
    border-color: var(--blue-dark);
    color: var(--black);
    box-shadow: none;
}

.login-container input::placeholder {
    color: var(--black);
    padding: 0%;
}


/* Emails */

.email-container {
    display: flex;
    width: 50vw;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2px;
    background-color: var(--white);
    padding-bottom: 20px;
}

.email-container h3 {
    color: var(--blue);
}

.email-banner {
    background-color: var(--blue-dark);
    width: 50vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-envelope {
    color: var(--blue-dark);
    background-color: var(--white);
    padding: 20px;
    border-radius: 50px;
}

/* Accordion */

#datesAccordion .card {
    background-color: var(--gradient-top);
    text-decoration: none;
}

#datesAccordion .card:hover {
    background-color: var(--blue-dark);
}

#datesAccordion .card button {
    text-decoration: none;
    color: var(--white);
    box-shadow: none;
    width: 100%;
    text-align: left;
}

#datesAccordion .card-body {
    padding: 0%;
}

#datesAccordion .card li {
    background-color: var(--white);
    padding-left: 8%;
}

/* Media Queries */

@media (max-width: 575.98px) {

    /* Form */

    .spacing {
        margin-top: 0vh;
    }

    .mt-md-4, .mt-sm-2 {
        margin: 0%;
    }

    /* Buttons */
    .col-md-8 .title {
        padding-right: 5%;
    }

    /* Login */

    .login-form {
        padding: 20px 10px 20px 10px;
        border-radius: 10px;
        width: 70vw;
        background-color: var(--white);
        margin-top: 30vh;
        margin-left: 10vw;
        border: 1px solid;
        border-color: var(--white-dark);
    }

    .bg-atec {
        right: -55%;
    }

    #listForm {
        display: flex;
        flex-direction: column-reverse;
    }

    #controlForm #controlTable {
        width: 100%;
    }

    ::-webkit-scrollbar {
        height: 6px;
    }

    .title {
        padding-top: 5%;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    /* Table */

    .table-container {
        max-width: 100%;
        overflow-x: scroll;
    }

    /* Search */

    .users-search {
        width: 98%;
        padding-left: 2%;
        gap: 2%;
    }

    .users-search .btn-blue {
        margin: 0px;
    }

    .line-break {
        border-left: none;
        padding: 0%;
    }

}